<h1>NgRx Signal Store Todo App</h1>
<mat-form-field class="todo-input">
  <mat-label>Enter a TODO</mat-label>
  <input matInput type="text" (keyup.enter)="onAddTodo(input)" #input>
  <mat-icon matSuffix>edit</mat-icon>
</mat-form-field>

<mat-button-toggle-group #filter (change)="onFilterTodo($event)">
  <mat-button-toggle value="all">All</mat-button-toggle>
  <mat-button-toggle value="pending">Pending</mat-button-toggle>
  <mat-button-toggle value="completed">Completed</mat-button-toggle>
</mat-button-toggle-group>

@if (store.loading()) {
  <mat-spinner/>
} @else {
  <mat-selection-list class="todos-list">
    @for (todo of store.filteredTodos(); track todo.id; let index = $index) {
      <mat-list-option (selectedChange)="onToggleTodoCompletion(todo.id, $event)" [selected]="todo.completed">
        <div class="todo-item">
          <mat-icon class="delete-todo" (click)="onDeleteTodo($event, todo.id)">delete</mat-icon>
          <span [class.completed]="todo.completed">{{ todo.title }}</span>
        </div>

      </mat-list-option>
    }
  </mat-selection-list>
  <div>{{ store.filter() | json }}</div>
}
