:host {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-list, .todo-input {
  width: 100%;
}

.todo-item {
  display: flex;
  align-items: center;
  span.completed {
    text-decoration: 3px deeppink line-through;
  }
}

.delete-todo {
  margin-right: 10px;
  cursor: pointer;
}
